sentence-transformers==2.2.2
langchain 
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
-e . # to create an egg info file means the project is setup as my local package
